body {
  background-color: pink;
  color: white;
}
ul {
  display: flex;
  background-color: white;
}
ul li {
  list-style: none;
  background-color: chocolate;
  margin-left: 20px;
  padding: 6px;
  border-radius: 20%;
}
